<div
  *ngIf="showToast"
  class="toast"
  [ngClass]="{'toast-error': isError}"
>
  {{toastMessage}}
</div>
<div class="auth-wrapper">

  <div class="auth-card">

    <div class="auth-aside">
      <h2>InternConnect</h2>
      <p>Create your account to continue onboarding</p>
    </div>

    <div class="auth-main">

      <h2>Register to continue</h2>

      <form autocomplete="off">

        <label>Name</label>
        <input
          class="modern-input"
          [(ngModel)]="name"
          name="reg_name_123"
          autocomplete="off"
          placeholder="Enter name"
        />

        <label>Email</label>
        <input
          class="modern-input"
          [(ngModel)]="email"
          name="reg_email_456"
          autocomplete="off"
          placeholder="Enter email"
        />

        <label>Password</label>
        <input
          type="password"
          class="modern-input"
          [(ngModel)]="password"
          name="reg_pass_789"
          autocomplete="new-password"
          placeholder="Enter password"
        />

        <button
          type="button"
          class="btn-submit"
          (click)="register()"
        >
          Register
        </button>

      </form>

    </div>

  </div>

</div>